@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import 'styles/_colors.scss';


/********************
 **** Guilty CSS ****
 ********************/

 body {
  padding: 50px;
  height: 100vh;
  background: #fafafa;
  color: #3e3e3e;
}

p {
  margin-bottom: 10px;
}

/////////////

.main {
  max-width: 400px;
  margin: 0 auto;
}

.user-input {
  padding: 20px 0;
  text-align: right;

  * {
    margin-bottom: 20px;
  }

  button {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  textarea,
  textarea:focus {
    outline: 0;
    // appearance: none;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    resize: none;
  }

  textarea,
  textarea:focus {
    display: block;
    width: 100%;
    font-size: 20px;
    background: #ffffff;
    border-right: 2px solid #007bff;
  }

  .flag {
    font-size: 10px;
    padding: 5px;
    width: auto;
    display: inline-block;
    text-transform: uppercase;
    background: #007bff;
    color: white;
    margin-bottom: 0;
  }
}

.speechbubble {
  &-bot {
    text-align: left;
    border-left: 2px solid #999;

    &:before {
      content: 'INSPIR0BOT';
      font-size: 10px;
      padding: 5px;
      background: #999;
      vertical-align: text-top;
      color: white;
      margin-left: -2px;
    }

    p {
      display: block;
      padding: 20px;
    }
  }
  &-user {
    text-align: right;
    border-right: 2px solid #007bff;

    &:before {
      content: 'ME';
      font-size: 10px;
      padding: 5px;
      background: #007bff;
      vertical-align: text-top;
      color: white;
      margin-right: -2px;
    }

    p {
      display: block;
      padding: 20px;
    }
  }
}

.article {
  padding: 20px 0;
  margin-top: 60px;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}